# Python cache files
api/__pycache__/
*.py[cod]
*$py.class

# Migração do banco de dados
migrations/

# Flask specific
instance
api/instance
.webassets-cache
flask_session

# TypeScript output
api/static/js/
*.js
*.js.map

!tailwind.config.js

# Node.js dependencies
node_modules/

# Environment variables
env/
.env
venv/
.venv

# Logs
logs/
*.log

# Coverage and test results
coverage/
*.lcov

# Images posts
posts

# TailwindCSS output
api/static/css/output.css
