# Python cache files
app/**/__pycache__/
*.py[cod]
*$py.class

# Migração do banco de dados
migrations/

# Flask specific
instance
app/instance
.webassets-cache
flask_session

# TypeScript output
app/static/js/
*.js
*.js.map

!tailwind.config.js

# Node.js dependencies
node_modules/

# Environment variables
env/
.env
venv/
.venv

# Logs
logs/
*.log

# Coverage and test results
coverage/
*.lcov

# Images posts
app/static/images/posts
profile_pics/*
!profile_pics/default.jpg

# TailwindCSS output
app/static/css/output.css