html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: width 500ms;
}
.navbar-btn {
  transition: all 500ms;
}


.invalid-input {
  border-color: #ff3f3f !important;
  filter: drop-shadow(0px 1px 0px #efefef)
  drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.invalid-input:focus, .invalid-input.focado{
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 1px #ff3f3f !important;
  background-color: transparent;
}
.disabled{
  background-color: #865daa !important;
  color: #b8b8b8 !important;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
button {
  border: none;
  background: none;
}
.register-input {
  outline: none;
  color: black;
  margin: 0.5em 0;
  padding: 0.25em;
  border: solid 1px #6b6b6b;
  background-color: transparent;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.register-input:focus, .register-input.focado {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

/* styling of whole input container */
.form {
  --timing: 0.5s;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #8f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}