@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  }
  body {
  display: flex;
  justify-content: center;
  font: normal 14px;
  @apply bg-white sm:bg-[#eeeeee];
  }

  /* Barra de navegação na lateral para computadores e notebooks */
  .content{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    width: 79%;
    margin-left: 21%;
    min-height: 100dvh;
    flex-grow: 1;
  }
  .navbar{
    position: fixed;
    padding: 10px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 21%;
    z-index: auto;
    top: 0;
    left: 0;
    border-right: 1px solid #cccccc;
  }

  .navbar-btn{
    margin-top: 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 500ms;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
  }
  .navbar-btn svg{
    @apply mr-2;
    width: 25px;
  }
  .navbar-btn:hover {
    background-color: #c9c9c9;
  }
  .navbar-btn-selected{
    color: #7101d3;
    font-weight: bold;
    background-color: #e6d0ff;
  }

  @media (max-width: 640px){
    /* Barra de navegação na base da tela para dispositivos móveis */
    .content{
      width: 100%;
      margin: 0;
      padding-bottom: 50px !important;
    }
    .navbar{
      @apply p-1 text-sm h-12 bg-white w-full;
      align-items: center;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      left: 50%;
      position: fixed;
      top: auto;
      transform: translate(-50%);
      z-index: 1000;
    }
    .navbar-btn {
      justify-content: center;
      padding: 3px 6px;
      width: 35px;
      height: 40px;
      margin: 4px 0;
    }
    .navbar-btn svg{
      width: 24px;
      height: 24px;
      margin: 0 auto; /* Centraliza o ícone */
    }
    .navbar-btn-selected {
      font-weight: normal; /* Ajuste conforme necessário */
      height: 40px; /* Certifique-se de que a altura permanece consistente */
    }
    .navbarBtnText{
      display: none;
    }
  }
  
  .disabled {
    background-color: #865daa !important;
    color: #b8b8b8 !important;
  }

  .h-screen-dynamic{
    height: 100dvh;
  }

  .no-bg-img {
    background-image: none !important;
  }
  .btn {
    background-color: #7e22ce;
    color: white;
    border: none;
    border-radius: 10%;
  }
  .btn:hover {
    background-color: #6b21a8;
  }
  .notificacao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 500ms;
    @apply p-2 pl-3 border-t border-gray-200;
  }
  .notificacao:hover{
    background-color: #dfdfdf
  }
  .standard-input {
    outline: none;
    color: black;
    margin: 0.5em 0;
    padding: 0.25em;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: #ececec;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  .standard-input:focus,
  .standard-input.focado {
    box-shadow: 0px 0px 0px 2px #525252;
  }
  .standard-input::placeholder,
  .password::placeholder {
    color: #4b4b4b;
  } 

  .invalid-input {
    border-color: #ff3f3f !important;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  }
  .invalid-input:focus,
  .invalid-input.focado {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #ff3f3f !important;
    background-color: transparent;
  }
  .border-shadow{
    box-shadow: 0px 0px 0px 1px #4b4b4b;
  }
  .message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
  .message p{
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .message.sent {
    @apply bg-purple-200; /* Cor de fundo para mensagens enviadas */
    align-self: flex-end; /* Alinha as mensagens enviadas à direita */
  }

  .message.received {
    @apply bg-gray-200; /* Cor de fundo para mensagens recebidas */
    align-self: flex-start; /* Alinha as mensagens recebidas à esquerda */
  }
  .reply_sent{
    @apply bg-purple-300 border-l-2 p-1 border-purple-950 rounded-sm text-sm flex items-center;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 5px
  }
  .reply_received{
    @apply bg-gray-300 p-1 rounded-sm border-l-2 border-gray-950 flex items-center text-sm text-gray-900;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 5px;
  }
  .dropdown-menu{
    position: absolute;
    top: 10%;
    right: 10px;
    transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out;
    max-height: 0;
    opacity: 0;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 10px #c5c5c5;
  }
  .dropdown-menu.show {
    max-height: 150px; /* ou um valor suficientemente grande */
    opacity: 1;
}
.preview img,
.preview video {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

.card {
  @apply bg-gray-300 p-1 w-full transition-all duration-200;
  padding: 3px;
  height: 170px;
}
.card:hover{
  scale: 1.03;
}
.post-text p{
  padding: 5px;
  font: normal arial 10px;
  display: -webkit-box;          /* Necessário para aplicar o truncamento em múltiplas linhas */
  -webkit-line-clamp: 5;         /* Define o número máximo de linhas a serem exibidas */
  -webkit-box-orient: vertical;  /* Necessário para truncar o texto corretamente */
  overflow: hidden;              /* Esconde o texto que ultrapassar o limite */
  text-overflow: ellipsis;
}
.readMoreBtn {
  outline: none;
  border: none;
  cursor: pointer;
  color: #7e22ce;
}
.readMoreBtn:hover{
  color: #6b21a8;
  text-decoration: underline;
}
}
