{% extends "layout.html" %}

{% block title %}
Notificações
{% endblock %}

{% block script %}
<script src="../static/js/notificationsLoader.js" defer></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="../static/js/notificationsSender.js"></script> -->
{% endblock %}

{% block body %}
<main id="main" class="w-screen md:w-2/3 min-h-screen bg-white p-3">
    <h1 class="text-center m-2 text-2xl font-semibold text-purple-800">Notificações</h1>
    <div id="notifications"></div>
</main>

{% endblock %}