{% extends "layout.html" %}

{% block title %}
    {{ user["name"] }}
{% endblock %}

{% block script%}
    <script src="../static/js/follow.js" defer></script>
{% endblock %}

{% block body %}
<main class="bg-white p-10 w-1/2 h-full text-start">
    <header>
        <section class="grid grid-cols-2">
            <div>
                <img src="{{ url_for('static', filename=user['profile_pic']) }}" class="w-40 rounded-full">
                <h2 class="text-lg font-semibold">@{{ user["name"] }}</h3>
            </div>
            <div class="m-1 grid grid-cols-2 text-xl items-center text-center font-bold">
                <a href="/{{ user['name'] }}/followers" class="text-center">
                    <span>{{ user["followers"] }}</span><br>
                    Seguidores
                </a>
                <a href="/{{ user['name'] }}/following" class="text-center">
                    <span>{{ user["following"] }}</span><br>
                    Seguindo
                </a>
            </div>
        </section>
        <div class="w-full p-1 mt-2 mb-2">
            <p style="word-wrap: break-word;  overflow-wrap: break-word;" class="max-w-full">{{ user['bio'] | safe }}</p>
        </div>
        <form action="/follow?user=" id="followbtnForm" method="get">
            <input type="hidden" name="user" value="{{ user['id'] }}" id="user_id">
            <button class="text-white text-center font-semibold p-2 rounded-md w-full bg-purple-700 hover:bg-purple-800" id="followbtn">
                Seguir
            </button>
        </form>
    </header>
    <section>
        
    </section>
{% endblock %}