.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: width 500ms;
}
.navbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 35px;
  margin: 4px 0;
  transition: all 500ms;
}
.navbar-btn:hover {
  background-color: #f3e8ff;
}

.disabled {
  background-color: #865daa !important;
  color: #b8b8b8 !important;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
button {
  border: none;
  background: none;
}

/* styling of whole input container */
.form {
  --timing: 0.5s;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #8f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

li.emoji-selector {
  background-color: white;
  border-radius: 1rem;
  cursor: default;
  display: block;
  padding: 0;
  border: 1px solid #eee;
  position: absolute;
  bottom: 0%;
  width: 325px;
  height: 350px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
li.emoji-selector.active {
  bottom: 110%;
  opacity: 1;
  pointer-events: all;
}
li.emoji-selector .input-container {
  padding: 1rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}
li.emoji-selector .input-container input {
  border-radius: 25px;
  border: 1px solid #eee;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}
li.emoji-selector ul.emoji-list {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  padding: 0 1rem 1rem;
  border-radius: 0;
}
li.emoji-selector ul.emoji-list li {
  height: 35px;
  width: 35px;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}
.emojiChar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.emojiChar:active {
  background-color: #e5e7eb;
}


